@font-face {
    font-family: SpaceMono;
    src: url(assets/fonts/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: SpaceMono-Bold;
    src: url(assets/fonts/SpaceMono-Bold.ttf);
}

@font-face {
    font-family: SpaceMono-BoldItalic;
    src: url(assets/fonts/SpaceMono-BoldItalic.ttf);
}

@font-face {
    font-family: SpaceMono-Italic;
    src: url(assets/fonts/SpaceMono-Italic.ttf);
}

.primaryBackground {
    /*background-color: #8459FF;*/
    /*background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.primaryText {
    /*color: #8459FF;  */  
    /*background: #7F00FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* Modern browsers */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

div {
    font-family: SpaceMono;
}

h1, h2, h3, h4, h5, h6 {
    font-family: SpaceMono-Bold;
}

.italic {
    font-family: SpaceMono-Italic;
}

.bold-italic {
    font-family: SpaceMono-BoldItalic;
}

.gradient-link {
    display: inline-block;
    border: 2px solid transparent;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
    color: #E100FF;
    transition: all 0.4s ease;
}

.gradient-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right, #E100FF, #7F00FF);
    transition: all 0.4s ease;
    transform: translateX(-100%);
}

.gradient-link:hover::before {
    transform: translateX(0);
}

.gradient-link:hover {
    color: white;
    border-color: #7F00FF;
}

.gradient-link:active {
    background-color: #7F00FF;
    color: #fff;
    border-color: #7F00FF;
}